/* File: proj03EllmerLoverudeQian.Main.css*/
/* Names: Ian Ellmer, Leo Qian, Jasper Loverude*/
/* Class: CS361*/
/* Project 3*/
/* Date: 2/15/2022*/

/* Set hello button color to light green */
#helloButton {
    -fx-background-color: LightGreen;
}

/* Set goodbye button color to light pink */
#goodbyeButton {
    -fx-background-color: LightPink;
}

/* Set general styling of the button class */
.button {
    -fx-border-color: Black;
    -fx-font-size: 10pt;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

/* Make font size to 10 */
.root {
    -fx-font-size: 10pt;
}