/*
 * File: proj6EnglishHillisonQian.Controller.java
 * Names: Nick English, Nico Hillison, Leo Qian
 * Class: CS361
 * Project 6
 * Date: 3/18/2022
 */

/* Style the buttons */
.compileButton  {
    -fx-background-color: paleturquoise;
    -fx-border-radius: .25em;
    -fx-background-radius: .25em;
    -fx-border-color: #000000;
}

.compileAndRunButton  {
    -fx-background-color: palegreen;
    -fx-border-radius: .25em;
    -fx-background-radius: .25em;
    -fx-border-color: #000000;
}

.stopButton {
    -fx-background-color: palevioletred;
    -fx-border-radius: .25em;
    -fx-background-radius: .25em;
    -fx-border-color: #000000;
}